en.subject.pdf
learn2slither.py
.venv/
__pycache__/
.ipynb_checkpoints/
.vscode/
.pytest_cache/
.mypy_cache/
.coverage
.DS_Store
*.egg-info/

test.py
src/__pycache__/
src/.ipynb_checkpoints/
src/.vscode/
src/.pytest_cache/
src/.mypy_cache/
src/.coverage
src/.DS_Store
src/*.egg-info/
